In [ ]:
# Python program to demonstrate searching operation
# in binary search tree without recursion
class newNode:
 
    # Constructor to create a new node
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None
 
# Function to check the given
# key exist or not
def iterativeSearch(root, key):
  # Traverse until root reaches
  # to dead end
  representation = "   ROOT\n"
  indent_num = 0
  while root != None:
    # pass right subtree as new tree
    representation += "( "+ str(root.data).center(5) + " )"
    if key > root.data:
      print(root.data, "Turn right")
      indent_num += 1
      representation += "——"
      root = root.right
    # pass left subtree as new tree
    elif key < root.data:
      print(root.data, "Turn left")
      representation += "\n" + "           "*indent_num + "    |    " + "\n" + "           "*indent_num
      root = root.left
    else:
      return (root.data, representation)
  return (False, representation)

 
# A utility function to insert a
# new Node with given key in BST
def insert(Node, data):
     
    # If the tree is empty, return
    # a new Node
    if Node == None:
        return newNode(data)
 
    # Otherwise, recur down the tree
    if data < Node.data:
        Node.left = insert(Node.left, data)
    elif data > Node.data:
        Node.right = insert(Node.right, data)
 
    # return the (unchanged) Node pointer
    return Node
 
 
# This code is contributed by PranchalK

In [ ]:
# Driver Code
def run():
  n = int(input("Insert number of nodes: "))
  root = None
  for i in range(n):
    if i == 0:
      root = insert(root, int(input("Insert root: ")))
    else:
      insert(root, int(input("Insert new node ({}): ".format(i+1))))
  found, path = iterativeSearch(root, int(input("Insert value to search: ")))

  if found:
      print("The value is in the tree.\nPath: \n\n", path, sep="")
  else:
      print("The value was not found.")

![IOSJFJSIODF.png]()

In [ ]:
run()

Insert number of nodes: 3
Insert root: 5
Insert new node (2): 2
Insert new node (3): 5
Insert value to search: 2
5 Turn left
The value is in the three.
Path:

   ROOT
(   5   )
    |
(   2   )

In [ ]:
run()

Insert number of nodes: 10
Insert root: 1
Insert new node (2): 10
Insert new node (3): 2
Insert new node (4): 9
Insert new node (5): 3
Insert new node (6): 8
Insert new node (7): 4
Insert new node (8): 7
Insert new node (9): 5
Insert new node (10): 6
Insert value to search: 6
1 Turn right
10 Turn left
2 Turn right
9 Turn left
3 Turn right
8 Turn left
4 Turn right
7 Turn left
5 Turn right
The value is in the three.
Path:

   ROOT
(   1   )——(   10  )
               |
           (   2   )——(   9   )
                          |
                      (   3   )——(   8   )
                                     |
                                 (   4   )——(   7   )
                                                |
                                            (   5   )——(   6   )

In [ ]:
run()

Insert number of nodes: 5
Insert root: 1
Insert new node (2): 2
Insert new node (3): 3
Insert new node (4): 4
Insert new node (5): 5
Insert value to search: 5
1 Turn right
2 Turn right
3 Turn right
4 Turn right
The value is in the three.
Path:

   ROOT
(   1   )——(   2   )——(   3   )——(   4   )——(   5   )

In [ ]:
run()

Insert number of nodes: 5
Insert root: 5
Insert new node (2): 4
Insert new node (3): 3
Insert new node (4): 2
Insert new node (5): 1
Insert value to search: 1
5 Turn left
4 Turn left
3 Turn left
2 Turn left
The value is in the three.
Path:

   ROOT
(   5   )
    |
(   4   )
    |
(   3   )
    |
(   2   )
    |
(   1   )

In [ ]:
run()

Insert number of nodes: 10
Insert root: 6
Insert new node (2): 5
Insert new node (3): 4
Insert new node (4): 7
Insert new node (5): 3
Insert new node (6): 11
Insert new node (7): 10
Insert new node (8): 8
Insert new node (9): 2
Insert new node (10): 9
Insert value to search: 8
6 Turn right
7 Turn right
11 Turn left
10 Turn left
The value is in the three.
Path:

   ROOT
(   6   )——(   7   )——(   11  )
                          |
                      (   10  )
                          |
                      (   8   )

In [ ]:
run()

Insert number of nodes: 10
Insert root: 1
Insert new node (2): 2
Insert new node (3): 3
Insert new node (4): 4
Insert new node (5): 10
Insert new node (6): 9
Insert new node (7): 8
Insert new node (8): 7
Insert new node (9): 5
Insert new node (10): 6
Insert value to search: 6
1 Turn right
2 Turn right
3 Turn right
4 Turn right
10 Turn left
9 Turn left
8 Turn left
7 Turn left
5 Turn right
The value is in the three.
Path:

   ROOT
(   1   )——(   2   )——(   3   )——(   4   )——(   10  )
                                                |
                                            (   9   )
                                                |
                                            (   8   )
                                                |
                                            (   7   )
                                                |
                                            (   5   )——(   6   )

In [ ]:
run()

Insert number of nodes: 20
Insert root: 1
Insert new node (2): 20
Insert new node (3): 2
Insert new node (4): 19
Insert new node (5): 3
Insert new node (6): 18
Insert new node (7): 4
Insert new node (8): 17
Insert new node (9): 5
Insert new node (10): 16
Insert new node (11): 6
Insert new node (12): 15
Insert new node (13): 7
Insert new node (14): 14
Insert new node (15): 8
Insert new node (16): 13
Insert new node (17): 9
Insert new node (18): 12
Insert new node (19): 10
Insert new node (20): 11
Insert value to search: 11
1 Turn right
20 Turn left
2 Turn right
19 Turn left
3 Turn right
18 Turn left
4 Turn right
17 Turn left
5 Turn right
16 Turn left
6 Turn right
15 Turn left
7 Turn right
14 Turn left
8 Turn right
13 Turn left
9 Turn right
12 Turn left
10 Turn right
The value is in the three.
Path:

   ROOT
(   1   )——(   20  )
               |
           (   2   )——(   19  )
                          |
                      (   3   )——(   18  )
                                     |
                                 (   4   )——(   17  )
                                                |
                                            (   5   )——(   16  )
                                                           |
                                                       (   6   )——(   15  )
                                                                      |
                                                                  (   7   )——(   14  )
                                                                                 |
                                                                             (   8   )——(   13  )
                                                                                            |
                                                                                        (   9   )——(   12  )
                                                                                                       |
                                                                                                   (   10  )——(   11  )

In [ ]:
run()

Insert number of nodes: 5
Insert root: 1
Insert new node (2): 1
Insert new node (3): 1
Insert new node (4): 1
Insert new node (5): 1
Insert value to search: 1
The value is in the three.
Path:

   ROOT
(   1   )